@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.projects {
  @extend %sectionContent;
  background: $primary-color-2;
  color: $text-primary-color;
}

.projects__description {
  @extend %genericDescription;
}

.projects__list {
  @extend %sectionList; 
}

.projects__list__project {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 15px 20px 15px;
  max-width: 300px;
  padding: 10px;
  text-align: left;
}

.projects__description a,
.projects__list__project a {
  color: $text-primary-color;
}

.projects__list__project__description {
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.projects__list__project__image {
  background: #efefef; 
  border: 5px solid #efefef;
  color: $text-secondary-color;
  border-radius: 4px;
  height: 200px;
  margin-bottom: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__list__project__title {
  font-size: 1.4rem;
  font-weight: bold;
  color: $primary-color-3;
  color: $text-primary-color;
}

@media(max-width: 550px) {
  .projects__list__project {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
  }
}
