@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.skills {
  @extend %sectionContent;
  color: $text-secondary-color;
}


.skills__description {
  margin-top: 60px;
  max-width: 720px;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  white-space: pre-wrap;
}

.skills__description p {
  margin-bottom: 5px;
}

.skills__description p::first-letter {
  margin-left: 40px;
}

.skills__list {
  @extend %sectionList;
  width: 100%;
}

.skills__list__skill {
  margin: 0 0 20px 0;
}

.skills__list__skill__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 10px 10px 10px;
  background: $light-color;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__list__skill__name {
  color: #777;
}
