@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.scholarity {
  @extend %sectionContent;
  background: $primary-color-2;
  color: $text-primary-color;
}

.scholarity__list {
  @extend %sectionList;
  flex-direction: column;
  text-align: left;
}

.scholarity__course {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.scholarity__course__institutionImg {
  @extend %genericLogo;
}

.scholarity__course__institutionName {
  margin-bottom: 5px;
}

.scholarity__course__institutionLink {
  color: $text-primary-color;
}

@media(max-width: 550px) {
  .scholarity__course {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .scholarity__course__institutionImg{
    margin-bottom: 10px;
  }
}
