@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.technologies {
  @extend %sectionContent;
  color: $primary-color-2;
  color: #444;
}

.technologies__list {
  @extend %sectionList;
}

.technologies__list__item {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 20px 20px 0;
}


.technologies__description {
  margin-top: 60px;
  max-width: 720px;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  white-space: pre-wrap;
}

.technologies__description p {
  margin-bottom: 5px;
}

.technologies__description p::first-letter {
  margin-left: 40px;
}
