@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.mainExperiences {
  @extend %sectionContent;
  background: white;
  color: $text-secondary-color;
}

.mainExperiences__list {
  @extend %sectionList;
  flex-direction: column;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.mainExperiences__experience {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.mainExperiences__experience__company {
  font-size: 1.1rem;
  margin: 0 0 5px 0;
}

.mainExperiences__experience__companyLogo {
  @extend %genericLogo;
}

.mainExperiences__experience__companySite {
  color: $text-secondary-color;
}

.mainExperiences__experience__interval {
  margin-left: 10px;
}

.mainExperiences__experience__description {
  margin-top: 15px;
}

.mainExperiences__experience__description__list {
  list-style-type: disc;
  list-style-position: inside;  
}

.mainExperiences__experience__description__item:before {
  content: "";
  margin-right: -7px;
  background: black;
}

@media(max-width: 550px) {
  .mainExperiences__experience {
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainExperiences__experience__companyLogo{
    margin-bottom: 10px;
  }

  .mainExperiences__experience__company,
  .mainExperiences__experience__interval,
  .mainExperiences__experience__position {
    text-align: center;
  }
}
