%sectionContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 20px;
}

%sectionList {
  margin-top: 60px;
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


%genericLogo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
  padding: 5px;
  background: white;
}

%genericDescription {
  margin-top: 60px;
  max-width: 720px;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  white-space: pre-wrap;
}

%genericDescription p {
  margin-bottom: 5px;
}

%genericDescription p::first-letter {
  margin-left: 40px;
}

